# Data collected for Group 20:

1. Timeseries Climate Data 
- temp
- rainfall

2. Shape Data 
- Australian Shape file (states)

3. Crop Reports (area, production & forcasts)

In [1]:
import pandas as pd
import os
import gzip
import os
import unlzw3
import pandas as pd
from pathlib import Path

import matplotlib as plt
import numpy as np 
import boto3
import pandas as pd
import os

import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

import datetime

# Temp Time series data

acorn_sat_v2.5.0_daily_tmax
acorn_sat_v2.5.0_daily_tmean
acorn_sat_v2.5.0_daily_tmin

In [2]:
basedata = pd.read_csv('/Users/brydejeffery/Desktop/GROUPPROJECT/Data/CLIMATE/TEMP/acorn_sat_v2.5.0_daily_tmax/tmax.001019.daily.csv')

In [3]:
folders = {
    'tmax': '/Users/brydejeffery/Desktop/GROUPPROJECT/Data/CLIMATE/TEMP/acorn_sat_v2.5.0_daily_tmax',
    'tmean': '/Users/brydejeffery/Desktop/GROUPPROJECT/Data/CLIMATE/TEMP/acorn_sat_v2.5.0_daily_tmin',
    'tmin': '/Users/brydejeffery/Desktop/GROUPPROJECT/Data/CLIMATE/TEMP/acorn_sat_v2.5.0_daily_tmean'
}

data_frames = {'tmax': [], 'tmean': [], 'tmin': []}

In [4]:
def load_and_clean_csv(file_path):

    df = pd.read_csv(file_path)
    
    
    df['site number'] = df['site number'].ffill()  # forward fill 'site number'
    df['site name'] = df['site name'].ffill()      
    
    return df

In [5]:
for key, folder in folders.items():
    for file in os.listdir(folder):
        if file.endswith('.csv'):
            file_path = os.path.join(folder, file)
            df = load_and_clean_csv(file_path)
            data_frames[key].append(df)


df_tmax = pd.concat(data_frames['tmax'], ignore_index=True)
df_tmean = pd.concat(data_frames['tmean'], ignore_index=True)
df_tmin = pd.concat(data_frames['tmin'], ignore_index=True)

# Merge the dataframes on 'date' and 'site number'
temp_df = pd.merge(df_tmax, df_tmean, on=['date', 'site number', 'site name'], suffixes=('_tmax', '_tmean'))
temp_df = pd.merge(temp_df, df_tmin, on=['date', 'site number', 'site name'], suffixes=('', '_tmin'))


temp_df.head()

,date,maximum temperature (degC),site number,site name,minimum temperature (degC),mean temperature (degC)
0,NaN,NaN,9999.0,ALBANY AIRPORT,NaN,NaN
1,1910-01-01,23.9,9999.0,ALBANY AIRPORT,15.2,19.5
2,1910-01-02,20.3,9999.0,ALBANY AIRPORT,14.8,17.5
3,1910-01-03,25.0,9999.0,ALBANY AIRPORT,15.2,20.1
4,1910-01-04,21.5,9999.0,ALBANY AIRPORT,12.9,17.2

In [6]:
temp_df = temp_df.dropna(subset=['maximum temperature (degC)', 'minimum temperature (degC)', 'mean temperature (degC)'], how='all')

In [7]:
len(temp_df['site number'].unique())

112

In [8]:
temp_df['date'] = pd.to_datetime(temp_df['date'], format='%Y-%m-%d')

In [9]:
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3997047 entries, 1 to 4063701
Data columns (total 6 columns):
 #   Column                      Dtype
---  ------                      -----
 0   date                        datetime64[ns]
 1   maximum temperature (degC)  float64
 2   site number                 float64
 3   site name                   object
 4   minimum temperature (degC)  float64
 5   mean temperature (degC)     float64
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 213.5+ MB

In [10]:
temp_df.head()

,date,maximum temperature (degC),site number,site name,minimum temperature (degC),mean temperature (degC)
1,1910-01-01,23.9,9999.0,ALBANY AIRPORT,15.2,19.5
2,1910-01-02,20.3,9999.0,ALBANY AIRPORT,14.8,17.5
3,1910-01-03,25.0,9999.0,ALBANY AIRPORT,15.2,20.1
4,1910-01-04,21.5,9999.0,ALBANY AIRPORT,12.9,17.2
5,1910-01-05,22.6,9999.0,ALBANY AIRPORT,10.8,16.7

In [53]:
temp_df.to_csv('Temp_Data.csv', index=False)

## RainFall Data

Data derived from http://www.bom.gov.au/climate/change/hqsites/about-hq-site-data.shtml

Australian daily rainfall dataset.

timeseries data from
151 stations

## Station Metadata

* Station Number
* Lat
* Long
* Elevation
* Station Name

In [11]:
def read_stations_file(filepath):
    with open(filepath, 'r') as file:
        lines = file.readlines()
    
    cleaned_data = []
    for line in lines:
        
        station_number = line[0:6].strip()    
        latitude = line[7:13].strip()        
        longitude = line[14:20].strip()       
        elevation = line[21:27].strip()       
        station_name = line[28:].strip()      

        cleaned_data.append([station_number, latitude, longitude, elevation, station_name])

    
    stations_df = pd.DataFrame(cleaned_data, columns=['Station Number', 'Latitude', 'Longitude', 'Elevation', 'Station Name'])
    
    return stations_df

In [12]:
rain_stations_file = '/Users/brydejeffery/Desktop/GROUPPROJECT/Data/CLIMATE/DAILYRAIN/HQDR_stations.txt'
rain_stations_df = read_stations_file(rain_stations_file)

In [13]:
rain_stations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Station Number  151 non-null    object
 1   Latitude        151 non-null    object
 2   Longitude       151 non-null    object
 3   Elevation       151 non-null    object
 4   Station Name    151 non-null    object
dtypes: object(5)
memory usage: 6.0+ KB

In [52]:
rain_stations_df.to_csv('rain_stations_df.csv', index=False)

## Data

* Station Number
* Date
* Rainfall 

Daily rainfall totals are for the 24-hours to 9am (local time). However, the dataset contains some multi-day totals of rainfall. These are identifiable as totals which follow one or more days of missing data (99999.9). Any rainfall recorded on the first day following a period of missing data may have fallen on any of the previous days with missing data or may have been recorded over more than one day.
Throughout the data files 99999.9 is used to denote missing data.

In [14]:
rainfall_folder = '/Users/brydejeffery/Desktop/GROUPPROJECT/Data/CLIMATE/DAILYRAIN/HQ_daily_prcp_txt/'

In [15]:
def read_rainfall_data(file_path, station_number):
    
    with file_path.open('rb') as f:
        uncompressed_data = unlzw3.unlzw(f.read())
    
    
    uncompressed_str = uncompressed_data.decode('utf-8')
    
    # Split and skip the header (first line)
    lines = uncompressed_str.split('\n')[1:]
    
    
    rainfall_data = []
    for line in lines:
        if line.strip():  
            date_str, rainfall = line.split()
            rainfall_data.append([station_number, date_str, float(rainfall)])
    
    
    rainfall_df = pd.DataFrame(rainfall_data, columns=['Station Number', 'Date', 'Rainfall (mm)'])
    
    return rainfall_df

In [16]:
station_files = [f for f in Path(rainfall_folder).glob('*.Z')] # .Z files 

all_station_data = {}

for station_file in station_files:
    
    station_number = station_file.stem.split('.')[1]  # Extract station number from the file name, e.g., "007057"
    rainfall_df = read_rainfall_data(station_file, station_number)
    all_station_data[station_number] = rainfall_df

combined_df = pd.concat(all_station_data.values(), ignore_index=True)

In [17]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7142475 entries, 0 to 7142474
Data columns (total 3 columns):
 #   Column          Dtype
---  ------          -----
 0   Station Number  object
 1   Date            object
 2   Rainfall (mm)   float64
dtypes: float64(1), object(2)
memory usage: 163.5+ MB

In [18]:
combined_df['Date'] = pd.to_datetime(combined_df['Date'], format='%Y%m%d')

In [19]:
combined_df.tail()

        Station Number       Date  Rainfall (mm)
7142470         010525 2021-11-19            0.0
7142471         010525 2021-11-20            0.0
7142472         010525 2021-11-21            0.0
7142473         010525 2021-11-22            0.0
7142474         010525 2021-11-23           16.5

In [20]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7142475 entries, 0 to 7142474
Data columns (total 3 columns):
 #   Column          Dtype
---  ------          -----
 0   Station Number  object
 1   Date            datetime64[ns]
 2   Rainfall (mm)   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 163.5+ MB

In [21]:
combined_df['Year'] = combined_df['Date'].dt.year
combined_df['Month'] = combined_df['Date'].dt.month

In [22]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7142475 entries, 0 to 7142474
Data columns (total 5 columns):
 #   Column          Dtype
---  ------          -----
 0   Station Number  object
 1   Date            datetime64[ns]
 2   Rainfall (mm)   float64
 3   Year            int32
 4   Month           int32
dtypes: datetime64[ns](1), float64(1), int32(2), object(1)
memory usage: 218.0+ MB

# MERGED DATA!
rainfall with meta data

In [23]:
merged_df = pd.merge(combined_df, rain_stations_df, on='Station Number')

In [24]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7142475 entries, 0 to 7142474
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   Station Number  object
 1   Date            datetime64[ns]
 2   Rainfall (mm)   float64
 3   Year            int32
 4   Month           int32
 5   Latitude        object
 6   Longitude       object
 7   Elevation       object
 8   Station Name    object
dtypes: datetime64[ns](1), float64(1), int32(2), object(5)
memory usage: 435.9+ MB

In [54]:
merged_df.head()

,Station Number,Date,Rainfall (mm),Year,Month,Latitude,Longitude,Elevation,Station Name
0,009503,1903-02-01,0.0,1903,2,-33.48,115.73,0037.0,BOYANUP POST OFFICE
1,009503,1903-02-02,0.0,1903,2,-33.48,115.73,0037.0,BOYANUP POST OFFICE
2,009503,1903-02-03,0.0,1903,2,-33.48,115.73,0037.0,BOYANUP POST OFFICE
3,009503,1903-02-04,0.0,1903,2,-33.48,115.73,0037.0,BOYANUP POST OFFICE
4,009503,1903-02-05,0.0,1903,2,-33.48,115.73,0037.0,BOYANUP POST OFFICE

In [56]:
merged_df.to_csv('rainfall.csv', index=False)

## State shape files

https://www.abs.gov.au/statistics/standards/australian-statistical-geography-standard-asgs-edition-3/jul2021-jun2026/access-and-downloads/digital-boundary-files

In [25]:
file = "/Users/brydejeffery/Desktop/GROUPPROJECT/Data/SHAPEFILE/SOS_2021_AUST_GDA94_SHP/SOS_2021_AUST_GDA94.shp"
states_gdf = gpd.read_file(file)

In [26]:
states_gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SOS_CODE21  53 non-null     object
 1   SOS_NAME21  53 non-null     object
 2   STE_CODE21  53 non-null     object
 3   STE_NAME21  53 non-null     object
 4   AUS_CODE21  53 non-null     object
 5   AUS_NAME21  53 non-null     object
 6   AREASQKM21  34 non-null     float64
 7   LOCI_URI21  53 non-null     object
 8   geometry    34 non-null     geometry
dtypes: float64(1), geometry(1), object(7)
memory usage: 3.9+ KB

In [27]:
states_gdf["STE_NAME21"].unique()

array(['New South Wales', 'Victoria', 'Queensland', 'South Australia',
       'Western Australia', 'Tasmania', 'Northern Territory',
       'Australian Capital Territory', 'Other Territories',
       'Outside Australia'], dtype=object)

In [28]:
geometry = [Point(xy) for xy in zip(rain_stations_df['Longitude'], rain_stations_df['Latitude'])]
stations_gdf = gpd.GeoDataFrame(rain_stations_df, geometry=geometry)

# NEED -> CRS (Coordinate Reference System) of both GeoDataFrames match
stations_gdf = stations_gdf.set_crs(states_gdf.crs)

stations_with_states = gpd.sjoin(stations_gdf, states_gdf[['STE_NAME21', 'geometry']], how='left', predicate='within')

stations_with_states = stations_with_states.rename(columns={'STE_NAME21': 'State'})

stations_with_states = stations_with_states.drop(columns=['geometry'])

In [29]:
print(stations_with_states.head())

  Station Number Latitude Longitude Elevation  Station Name  index_right  \
0         004035   -20.78    117.15    0012.0     ROEBOURNE         26.0
1         005008   -21.19    115.98    0011.0        MARDIE         29.0
2         006055   -27.75    115.83    0300.0    WOOLGORONG         29.0
3         007007   -26.98    116.54    0300.0      BOOLARDY         29.0
4         007057   -28.06    117.84    0426.0  MOUNT MAGNET         29.0

               State
0  Western Australia
1  Western Australia
2  Western Australia
3  Western Australia
4  Western Australia

In [30]:
stations_with_states["State"].unique()

array(['Western Australia', 'Northern Territory', 'South Australia',
       'Queensland', nan, 'New South Wales', 'Victoria', 'Tasmania'],
      dtype=object)

# Crop Report Data

<!-- Table 1 Winter crop production, Australia, 1989–90 to 2024–25	

Table 2 Winter crop area, Australia, 1989–90 to 2024–25		

Table 3 Summer crop area and production, Australia, 1989–90 to 2024–25							

Table 4 Winter crop forecasts, New South Wales, 2024–25							

Table 5 Summer crop forecasts, New South Wales, 2024–25							

Table 6 Winter crop forecasts, Queensland, 2024–25							

Table 7 Summer crop forecasts, Queensland, 2024–25							

Table 8 Winter crop forecasts, Victoria, 2024–25							

Table 9 Winter crop forecasts, South Australia, 2024–25							

Table 10 Winter crop forecasts, Western Australia, 2024–25							

Table 11 Winter crop production and area, Australia, 1989–90 to 2024–25							

Table 12 Summer crop production and area, Australia, 1989–90 to 2024–25							

Table 13 Production, major crops, Australian states, 2017–18 to 2024–25							

Table 14 Production, other crops, Australian states, 2017–18 to 2024–25							

Table 15 Supply and disposal of wheat, canola and pulses, Australia, 1989–90 to 2022–23	

Table 16 Supply and disposal of coarse grains, Australia, 1989–90 to 2022–23							

Table 17 Grain, oilseed and pulse prices, first quarter 1995 to second quarter 2024							 -->

In [31]:
cropdatafile = '/Users/brydejeffery/Desktop/GROUPPROJECT/Data/CropReports/AustCropRrt20240903_CropData_v1.0.0.xlsx'
excel_data = pd.ExcelFile(cropdatafile)

sheet_names = excel_data.sheet_names[1:]

In [32]:
print(sheet_names)

['Table 1', 'Table 2', 'Table 3', 'Table 4', 'Table 5', 'Table 6', 'Table 7', 'Table 8', 'Table 9', 'Table 10', 'Table 11', 'Table 12', 'Table 13', 'Table 14', 'Table 15', 'Table 16', 'Table 17']

INCONSISTENT TABLES

Load the entire sheet into a DataFrame then:

1. Remove empty rows from the DataFrame.
2. Extract the title (the first row with non-empty values).
3. Set the next row as the column headers.
4. The remaining rows will be the data.

In [33]:
table_titles ={}
for i, sheet in enumerate(sheet_names, start=1):

    df = pd.read_excel(cropdatafile, sheet_name=sheet, engine='openpyxl')
    df_clean = df.dropna(how='all')
    
    # get title of table
    table_title = df_clean.iloc[0, 1]
    table_titles[f'table{i}_df'] = table_title  # Save the title for mapping (might be useful)-> more informative
    
    df_clean.columns = df_clean.iloc[1]
    
    df_clean = df_clean.drop(df_clean.index[[0, 1]]).reset_index(drop=True)
    
    df_clean = df_clean.dropna(axis=1, how='all')

    globals()[f'table{i}_df'] = df_clean

In [34]:
print("Mapping of tables to titles:")
for table_name, title in table_titles.items():
    print(f"{table_name}: {title}")

Mapping of tables to titles:
table1_df: Table 1 Winter crop production, Australia, 1989–90 to 2024–25
table2_df: Table 2 Winter crop area, Australia, 1989–90 to 2024–25
table3_df: Table 3 Summer crop area and production, Australia, 1989–90 to 2024–25
table4_df: Table 4 Winter crop forecasts, New South Wales, 2024–25
table5_df: Table 5 Summer crop forecasts, New South Wales, 2024–25
table6_df: Table 6 Winter crop forecasts, Queensland, 2024–25
table7_df: Table 7 Summer crop forecasts, Queensland, 2024–25
table8_df: Table 8 Winter crop forecasts, Victoria, 2024–25
table9_df: Table 9 Winter crop forecasts, South Australia, 2024–25
table10_df: Table 10 Winter crop forecasts, Western Australia, 2024–25
table11_df: Table 11 Winter crop production and area, Australia, 1989–90 to 2024–25
table12_df: Table 12 Summer crop production and area, Australia, 1989–90 to 2024–25
table13_df: Table 13 Production, major crops, Australian states, 2018–19 to 2024–25
table14_df: Table 14 Production, other crops, Australian states, 2018–19 to 2024–25
table15_df: Table 15 Supply and disposal of wheat, canola and pulses, Australia, 1989–90 to 2022–23
table16_df: Table 16 Supply and disposal of coarse grains, Australia, 1989–90 to 2022–23
table17_df: Table 17 Grain, oilseed and pulse prices, first quarter 1995 to second quarter 2024

In [35]:
print(table_titles['table1_df'])
table1_df

Table 1 Winter crop production, Australia, 1989–90 to 2024–25

6,Year,Unit,New South Wales,Victoria,Queensland,South Australia,Western Australia,Australia
0,1989–90,kt,4841.223,3343.008,1829.027,4832.81,6606.416,21491.804
1,1990–91,kt,5826.706,2712.227,2486.538,3901.414,7346.772,22325.977
2,1991–92,kt,3909.599,2814.517,461.502,4534.015,7183.333,18962.288
3,1992–93,kt,5950.707,4120.684,1053.865,4797.718,8499.538,24487.185
4,1993–94,kt,7619.149,4479.907,834.394,4923.156,9872.962,27796.784
5,1994–95,kt,1528.143,1863.646,311.546,3044.445,7924.331,14719.274
6,1995–96,kt,6961.863,4500.51,745.907,5263.461,10244.394,27785.136
7,1996–97,kt,11286.144,4590.51,2468.14,5456.971,11192.607,35060.019
8,1997–98,kt,8557.372,3397.664,1639.374,5457.808,11994.754,31112.569
9,1998–99,kt,9717.859,3507.415,2323.341,6303.985,12232.647,34159.264
10,1999–00,kt,11525.912,5252.253,2221.165,4769.642,13312.051,37141.718
11,2000–01,kt,10829.162,6265.925,1338.758,7428.511,8724.138,34662.351
12,2001–02,kt,11169.933,5892.555,1156.408,8796.13,12042.351,39132.959
13,2002–03,kt,3484.555,1943.314,829.138,4222.664,6811.822,17359.461
14,2003–04,kt,10795.045,6961.477,1450.064,7359.142,16676.2,43313.331
15,2004–05,kt,10712.18,4214.428,1391.211,5297.508,12977.798,34670.877
16,2005–06,kt,11981.269,6266.823,1433.413,7517.847,13944.647,41226.046
17,2006–07,kt,3794.097,1747.9,924.215,2793.121,8278.145,17580.385
18,2007–08,kt,3999.205,4691.657,1194.122,4705.722,10760.504,25415.201
19,2008–09,kt,9438.381,3887.356,2325.569,4863.38,13784.557,34377.266
20,2009–10,kt,7786.963,5889.084,1616.867,7035.461,12943.035,35343.283
21,2010–11,kt,14783.65,7625.202,1820.613,9316.126,8044.142,41672.012
22,2011–12,kt,11952.068,7351.99,2328.7,7371.481,16600.456,45672.773
23,2012–13,kt,11123.416,6885.595,2156.003,6469.726,11243.76,37936.026
24,2013–14,kt,9772.994,6774.044,1516.17,7221.299,16510.983,41880.733
25,2014–15,kt,10444.88,5116.605,1463.68,7438.603,14662.329,39197.548
26,2015–16,kt,11623.645,3567.704,2103.724,6103.567,14206.024,37686.737
27,2016–17,kt,15510.259,9511.384,3159.24,10655.762,17737.342,56675.335
28,2017–18,kt,7743.001,7612.277,1437.898,7022.001,14510.294,38395.55
29,2018–19,kt,3243.472,4603.224,685.581,5486.945,17632.799,31736.71
30,2019–20,kt,3194.948,8334.363,694.754,5533.155,12172.222,30002.894
31,2020–21,kt,20332.159,9911.828,2392.115,7837.139,16500.136,57075.422
32,2021–22,kt,18896.966,8879.372,3486,8408.374,23440.231,63221.504
33,2022–23 s,kt,15470.16,11051.91,3364.012,12637,26261.7,68943.573
34,2023–24 s,kt,11257.9,10566.2,1711.42,8753,14780,47213.128
35,2024–25 f,kt,16856.1,8601.422,3323.39,7935.5,18338.8,55155.012
36,% change 2023–24 to 2024–25,%,49.727,-18.595,94.189,-9.34,24.078,16.821
37,f ABARES forecast. s ABARES estimate.\nNotes: ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
print(table_titles['table2_df'])
table2_df

Table 2 Winter crop area, Australia, 1989–90 to 2024–25

6,Year,Unit,New South \nWales,Victoria,Queensland,South Australia,Western Australia,Australia
0,1989–90,'000 ha,3076.358,1814.547,1147.332,2831.221,4955.821,13843.934
1,1990–91,'000 ha,3234.096,1866.916,1353.088,2713.525,5160.261,14349.881
2,1991–92,'000 ha,2834.755,1794.777,704.773,2681.68,5018.195,13058.076
3,1992–93,'000 ha,3005.767,1996.138,912.714,2846.786,5497.901,14284.325
4,1993–94,'000 ha,3289.14,2099.858,815.896,2738.004,5945.715,14915.05
5,1994–95,'000 ha,2579.453,2076.104,530.838,2741.614,6033.949,13988.148
6,1995–96,'000 ha,3837.823,2197.453,844.112,2974.72,6244.624,16126.669
7,1996–97,'000 ha,4676.443,2326.249,1225.306,3047.039,6793.986,18097.638
8,1997–98,'000 ha,4543.845,2304.978,1187.732,3024.841,7159.081,18247.356
9,1998–99,'000 ha,4925.747,2453.385,1377.743,3376.304,7420.099,19580.726
10,1999–00,'000 ha,4977.248,2741.417,1282.035,3361.824,7458.137,19846.413
11,2000–01,'000 ha,5395.149,2723.157,1087.987,3635.178,7384.106,20252.516
12,2001–02,'000 ha,5308.641,2690.482,777.207,3800.736,7175.084,19775.241
13,2002–03,'000 ha,4784.829,2914.812,715.84,3962.964,7178.123,19582.071
14,2003–04,'000 ha,6101.873,3140.843,1027.013,3965.818,7682.675,21943.717
15,2004–05,'000 ha,6438.776,3191.529,856.944,3964.479,7932.233,22406.92
16,2005–06,'000 ha,5592.936,2969.206,965.638,3868.154,7406.689,20827.28
17,2006–07,'000 ha,5671.152,3081.902,808.083,4140.694,6477.255,20200.974
18,2007–08,'000 ha,6311.97,3375.025,872.57,4130.828,7264.548,21977.425
19,2008–09,'000 ha,6295.016,3491.557,1208.452,3978.706,7899.27,22900.466
20,2009–10,'000 ha,6105.974,3488.438,1172.971,3782.862,8270.618,22844.014
21,2010–11,'000 ha,6157.614,3456.766,1216.739,3821.064,7715.101,22391.85
22,2011–12,'000 ha,5969.049,3410.524,1204.958,3837.846,8252.255,22693.247
23,2012–13,'000 ha,5852.155,3457.005,1222.316,3776.293,8097.205,22420.662
24,2013–14,'000 ha,5313.871,3282.525,1105.308,3448.352,8248.89,21419.228
25,2014–15,'000 ha,5491.147,3303.75,995.42,3638.508,8312.688,21760.311
26,2015–16,'000 ha,5375.137,2914.823,1048.682,3152.365,7771.325,20283.332
27,2016–17,'000 ha,6062.344,3230.918,1375.08,3904.354,8530.585,23126.115
28,2017–18,'000 ha,5489.351,3508.836,1302.093,3644.832,7898.097,21860.937
29,2018–19,'000 ha,3990.343,3349.635,725.12,3391.294,8295.718,19770.732
30,2019–20,'000 ha,3789.405,3534.014,748.232,3473.315,8117.437,19678.226
31,2020–21,'000 ha,7069.647,3599.412,1511.01,3660.692,8323.472,24183.087
32,2021–22,'000 ha,6417.655,3488.666,1531.878,3789.422,8906.446,24153.276
33,2022–23 s,'000 ha,5856.6,3612,1362.2,3981,9165.5,24010.802
34,2023–24 s,'000 ha,5495,3638.396,1135.8,3948,8649.5,22892.246
35,2024–25 f,'000 ha,6431.7,3581.162,1517.4,3923,8592.8,24066.462
36,change 2023–24 to 2024–25,%,17.046,-1.573,33.597,-0.633,-0.656,5.129
37,f ABARES forecast. s ABARES estimate.\nNotes: ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
print(table_titles['table3_df'])
table3_df

Table 3 Summer crop area and production, Australia, 1989–90 to 2024–25

7,Year,New South Wales,NaN,Queensland,NaN,Australia,NaN
0,NaN,'000 ha,kt,'000 ha,kt,'000 ha,kt
1,1989–90,480.98,1716.239,440.352,941.1,932.181,2675.919
2,1990–91,463.948,1611.872,577.605,994.688,1053.329,2625.233
3,1991–92,542.956,2078.962,658.492,1529.577,1211.172,3627.471
4,1992–93,487.659,1612.114,514.567,640.548,1013.647,2279.798
5,1993–94,516.866,1805.586,651.079,1214.428,1183.259,3052.341
6,1994–95,523.98,1869.23,761.261,1279.379,1305.983,3186.523
7,1995–96,573.725,2076.983,845.565,1535.019,1435.387,3637.955
8,1996–97,654.631,2652.994,746.805,1553.167,1416.335,4239.034
9,1997–98,635.349,2594.515,691.628,1185.607,1340.961,3815.87
10,1998–99,914.22,3227.396,810.412,1813.012,1733.502,5064.651
11,1999–00,759.829,2899.594,818.785,2093.268,1587.282,5006.893
12,2000–01,852.785,3384.389,894.605,1857.946,1760.821,5284.798
13,2001–02,793.165,3059.584,861.62,1830.905,1661.2,4925.949
14,2002–03,518.115,1574.849,540.527,1231.389,1074.652,2834.839
15,2003–04,456.802,1776.48,764.775,1866.897,1230.244,3662.649
16,2004–05,523.781,2020.318,811.822,1842.085,1342.601,3877.354
17,2005–06,775.639,2791.463,645.417,1515.54,1432.176,4349.316
18,2006–07,337.886,1037.151,545.287,1098.986,917.279,2164.593
19,2007–08,397.923,1667.836,791.384,2877.266,1198.265,4567.256
20,2008–09,402.161,1429.722,745.909,2349.873,1156.021,3793.446
21,2009–10,381.454,1404.563,513.683,1342.023,903.374,2764.442
22,2010–11,713.016,2514.492,790.405,1900.822,1514.353,4445.973
23,2011–12,757.134,2995.699,783.108,2335.74,1556.193,5376.784
24,2012–13,711.258,3024.886,686.335,2156.786,1411.287,5232.209
25,2013–14,567.544,2160.039,558.911,1388.954,1138.714,3609.85
26,2014–15,434.998,1954.676,696.266,2081.967,1149.309,4121.74
27,2015–16,411.84,1540.717,624.34,1751.582,1054.122,3378.507
28,2016–17,661.717,2135.137,565.509,1193.373,1246.682,3429.458
29,2017–18,613.581,2006.189,648.364,1561.546,1282.81,3668.053
30,2018–19,491.862,841.199,615.219,1269.801,1130.296,2227.259
31,2019–20,134.985,336.154,260.285,490.733,413.437,954.715
32,2020–21,456.473,1655.847,615.076,1485.413,1090.554,3223.563
33,2021–22,743.088,2925.237,744.054,2461.269,1518.574,5516.115
34,2022–23 s,661.268,2452.199,790.17,2597.651,1485.328,5178.9
35,2023–24 s,646.633,2472.118,615.606,2023.932,1300.808,4652.047
36,2024–25 f,626.798,2356.692,645.8,2170.397,1305.082,4652.878
37,% change 2023–24 to 2024–25,-2.213,0.812,-22.092,-22.086,-12.423,-10.173
38,f ABARES forecast. s ABARES estimate.\nNotes: ...,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
print(table_titles['table11_df'])
table11_df

Table 11 Winter crop production and area, Australia, 1989–90 to 2024–25

6,Year,Wheat,NaN,Barley,NaN,Canola,NaN,Chickpeas,NaN,Faba beans,...,Field peas,NaN,Lentils,NaN,Lupins,NaN,Oats,NaN,Triticale,NaN
0,NaN,Area,Production,Area,Production,Area,Production,Area,Production,Area,...,Area,Production,Area,Production,Area,Production,Area,Production,Area,Production
1,NaN,'000 ha,kt,'000 ha,kt,'000 ha,kt,'000 ha,kt,'000 ha,...,'000 ha,kt,'000 ha,kt,'000 ha,kt,'000 ha,kt,'000 ha,kt
2,1989–90,9003.8,14214.6,2309.897,4044.146,49.736,78.157,93.079,109.368,44.555,...,326.332,388.023,0.33,0.275,801.457,772.018,1088.7,1640.3,91.341,164.372
3,1990–91,9218.2,15066.1,2555.651,4107.832,72.885,98.4,178.121,191.668,43.9,...,318.035,318.068,0.154,0.183,792.561,757.67,1043.6,1529.8,103.96,188.577
4,1991–92,7183,10557.3,2744.241,4529.678,150.665,170.448,249.672,221.859,58.108,...,426.534,472.571,0.293,0.474,938.546,1047.363,1160.1,1689.8,101.02,177.342
5,1992–93,8274.7,14738.7,2947.179,5396.758,107.109,177.902,151.802,176.938,82,...,382.338,456.311,0.479,0.52,1032.473,1194.983,1149.1,1936.4,122,282.477
6,1993–94,8383.1,16479.2,3424.468,6668.234,176.532,305.02,146.837,193.108,93.736,...,399.832,558.453,0.98,1.244,1150.446,1479.652,947.336,1646.499,129.235,262.815
7,1994–95,7890.6,8961.4,2470.49,2913.189,356.234,263.892,208.854,68.893,100.609,...,460.58,240.407,5.203,2.02,1407.066,1076.215,896.569,924.075,153.424,181.581
8,1995–96,9220.8,16503.9,3110.588,5822.684,376.558,557.054,216.415,286.909,80.369,...,381.617,529.919,6.503,15.5,1322.821,1558.995,1136.234,1874.808,221.097,468.513
9,1996–97,10935.5,22924.2,3365.806,6694.804,407.456,623.239,241.45,287.721,96.937,...,336.678,454.615,13.763,28.347,1259.181,1521.861,1051.683,1652.797,346.283,673.774
10,1997–98,10440.6,19226.7,3520.909,6481.669,697.491,855.36,273.043,198.629,154.784,...,366.932,315.344,41.99,31.458,1424.671,1560.272,936.625,1634.284,366.361,632.485
11,1998–99,11542.6,21464.8,3167.301,5987.241,1247.208,1690.458,308.505,187.587,135.314,...,369.411,370.282,66.17,38.699,1406.21,1694.872,908.853,1798.226,385.838,706.852
12,1999–00,12167.6,24757.4,2595.63,5032.016,1909.543,2458.674,217.955,230.007,125.25,...,423.466,496.506,74.613,115.361,1347.081,1967.842,583.567,1117.683,358.035,764.08
13,2000–01,12141.3,22108.2,3454.047,6743.463,1458.613,1774.119,261.603,162.492,206.343,...,395.836,455.877,101.392,138.245,1179.554,1055.281,650.41,1049.748,389.415,841.049
14,2001–02,11529.3,24299.4,3707.378,8279.769,1331.505,1755.863,244.936,273.439,180,...,336.236,512.26,113.045,153.48,1138.312,1213.716,783.995,1433.531,408.856,859.651
15,2002–03,11170.3,10131.8,3863.778,3864.833,1297.074,870.059,201.161,128.738,157,...,380.16,178.425,165.002,67,1025.36,725.881,911.379,956.984,407.57,326.959
16,2003–04,13067.1,26131.8,4477.024,10381.828,1210.598,1702.349,200.815,198.854,155,...,353.548,486.087,83.063,103.811,852.022,1180.663,1089.23,2017.875,445.475,825.861
17,2004–05,13399.4,21905.1,4645.658,7739.767,1377.061,1542.318,110.174,135.215,194.5,...,413.11,289.137,127.261,52.301,844.684,936.918,893.551,1282.448,389.296,610.056
18,2005–06,12442.6,25150.4,4405.727,9481.741,971.694,1418.941,131.301,149.682,183,...,365.653,584.619,178.17,294.916,808.873,1285.032,930.302,1688.016,391.786,829.757
19,2006–07,11797.9,10821.7,4178.797,4257.032,1051.823,573.325,284.074,229.202,186.636,...,383.805,140.346,207.474,31.845,736.354,470.326,999.484,748.292,368.512,199.254
20,2007–08,12578.2,13569.4,4901.838,7160.168,1277.082,1214.374,306,312.95,132.501,...,292.5,267.5,129.5,131.15,752.157,661.862,1237.784,1502.297,359.713,450
21,2008–09,13530.2,21420.1,5015.01,7996.506,1692.608,1844.157,338.222,442.543,125.294,...,299.792,238.139,116.997,64.234,577.205,707.775,870.245,1160.003,322.761,362.817
22,2009–10,13881.1,21834,4421.597,7864.551,1694.936,1907.272,428.982,487.046,129,...,285.101,356,104.01,143.008,691.636,822.57,850.03,1161.522,349.721,545
23,2010–11,13501.8,27410,3680.995,7994.719,2077.523,2358.716,653.142,513.388,162.628,...,317.515,394.675,218.764,379.66,755.847,807.672,826.031,1127.683,187.201,355.078
24,2011–12,13902.141,29905.009,3718.089,8220.861,2460.785,3427.293,456.07,673.372,151.437,...,248.87,342.49,172.84,288,689.064,981.512,731.143,1262.031,144.551,284.614
25,2012–13,12979.232,22855.166,3644.266,7471.382,3271.499,4141.586,573.6,813.3,202.9,...,280.5,319.68,165.4,184.7,450.2,458.7,728.575,1121.135,99.178,171.211
26,2013–14,12613.076,25302.707,3814.013,9174.207,2720.685,3831.909,507.8,629.4,152.1,...,244.5,342.1,169.7,254.45,387.35,625.6,714.699,1254.659,79.879,125.641
27,2014–15,12383.673,23742.56,4078.041,8646.321,2896.951,3540.021,424.8,555.4,163.9,...,237,290.4,189,242.1,443.1,549.1,854.417,1198.006,81.515,143.043
28,2015–16,11282.202,22274.514,4107.648,8992.274,2090.892,2775.479,677.444,874.593,220.267,...,238.1,204.5,224.944,181.638,534.084,651.946,821.498,1299.68,78.4,127.393
29,2016–17,12191.153,31818.744,4834.102,13505.99,2681.162,4313.23,1069,2004,232.732,...,230.17,415.186,275.648,680.482,514.596,1031.425,1027.873,2265.503,61.589,149.949
30,2017–18,10919.18,20941.133,4124.149,9253.829,3171.119,3893.069,1075.136,998.231,313.051,...,291.489,317.209,418.495,542.784,612.014,714.254,874.138,1227.386,55.482,86.958
31,2018–19,10402.271,17597.561,4436.588,8818.946,2119.836,2365.839,293.947,205.13,233.967,...,229.512,159.556,400.149,359.315,661.141,798.629,938.129,1134.619,48.402,59.461
32,2019–20,9863.184,14480.217,5040.903,10127.175,2034.057,2298.529,309.151,235.165,214.892,...,247.616,210.456,412.381,525.848,664.588,591.146,815.954,1142.934,72.84,76.857
33,2020–21,12643.216,31922.555,5491.009,14648.581,2613.846,4756.388,606.316,876.468,302.132,...,251.71,399.28,500.872,853.642,603.941,865.619,1069.891,1897.99,96.207,170.812
34,2021–22,12728.252,36237.477,5094.527,14377.284,3250.261,6820.287,615.75,1062.25,287.5,...,192,261.14,575.16,999.47,497.07,957.52,842.394,1734.874,61.91,117.167
35,2022–23 s,13045,40545.42,4127,14136.803,3900,8272.506,397.5,541,305,...,198,313.809,692.3,1688.75,536.4,1100.8,745,1587.439,57.002,113.707
36,2023–24 s,12372.396,25960,4207,10800,3477,5936,409,491.2,264.067,...,192.017,228.019,790,1567.9,441.019,565.764,677.69,1021.132,53.9,82.696
37,2024–25 f,13010.275,31830.392,4446.179,12160.101,3236.709,5472.128,768.5,1333,258.5,...,187,229,927.1,1685.4,454.5,644,717,1200,52,82.59
38,f ABARES forecast. s ABARES estimate.\nNotes: ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
print(table_titles['table5_df'])
table5_df

Table 5 Summer crop forecasts, New South Wales, 2024–25

6,Crop,Area,Yield,Production,Area change,Prod. change
0,NaN,'000 ha,t/ha,kt,%,%
1,Grain sorghum,180,4.166667,750,2.857143,5.633803
2,Cotton lint,318.5,2.224804,708.6,–5.6,–6.9
3,Cottonseed,318.5,2.550525,812.342,–5.6,–6.9
4,Rice,49,10.5,514.5,–14,–16.7
5,"Notes: Yields are based on area planted, excep...",NaN,NaN,NaN,NaN,NaN

# Global data on crop nutrient concentration and harvest indices

In [40]:
crop_nutr = pd.read_csv("/Users/brydejeffery/Desktop/GROUPPROJECT/Data/CropReports/doi_10_5061_dryad_n2z34tn0x__v20231127/Combined_crop_data.csv")

In [41]:
crop_nutr.head()

,original_crop,item,item_code,item_group_code,item_group,factor,hs_code,hs07_code,hs12_code,cpc_code,...,un_region_name,un_sub_region_name,un_intermediate_region_name,latitude,longitude,reference_where_data_were_collated,website_of_source_of_collated_data,primary_reference_of_dataset,variable,value
0,Agave fibres nes,Agave fibres nes,800.0,1714.0,Crops Primary,1.0,NaN,530500,530500,1929.06,...,NaN,NaN,NaN,NaN,NaN,International Fertilizer Association (2020),https://api.ifastat.org/reports/download/12965,NaN,P_pc_fresh,0.1100
1,Agave fibres nes,Agave fibres nes,800.0,1714.0,Crops Primary,1.0,NaN,530500,530500,1929.06,...,NaN,NaN,NaN,NaN,NaN,International Fertilizer Association (2020),https://api.ifastat.org/reports/download/12965,NaN,K_pc_fresh,0.3320
2,Agave fibres nes,Agave fibres nes,800.0,1714.0,Crops Primary,1.0,NaN,530500,530500,1929.06,...,NaN,NaN,NaN,NaN,NaN,International Fertilizer Association (2020),https://api.ifastat.org/reports/download/12965,NaN,N_pc_fresh,0.5000
3,Alfalfa,NaN,643.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Americas,Northern America,NaN,NaN,NaN,USDA (2009) Chapter 6 Role of Plants in Waster...,https://directives.sc.egov.usda.gov/OpenNonWeb...,Kilmer 1982; Morrison\r\n1956; Sanchez 1976; U...,N_pc,2.2500
4,Alfalfa,NaN,643.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Roy (2016) FAO Fertilizer and Plant Nutrition ...,http://www.fao.org/3/a-a0443e.pdf,"Adapted from Zublina, 1991 (updated 1997).",Cu_pc,0.0007

In [42]:
crop_nutr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63999 entries, 0 to 63998
Data columns (total 25 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   original_crop                       63999 non-null  object
 1   item                                62465 non-null  object
 2   item_code                           63797 non-null  float64
 3   item_group_code                     62465 non-null  float64
 4   item_group                          62465 non-null  object
 5   factor                              62465 non-null  float64
 6   hs_code                             0 non-null      float64
 7   hs07_code                           62465 non-null  object
 8   hs12_code                           62465 non-null  object
 9   cpc_code                            62465 non-null  float64
 10  original_crop_component             63982 non-null  object
 11  crop_component                      63999 non-null  object
 12  original_region                     63999 non-null  object
 13  iso3_code                           60606 non-null  object
 14  country_iso3c                       60606 non-null  object
 15  un_region_name                      60606 non-null  object
 16  un_sub_region_name                  60606 non-null  object
 17  un_intermediate_region_name         58243 non-null  object
 18  latitude                            58130 non-null  float64
 19  longitude                           58130 non-null  float64
 20  reference_where_data_were_collated  63999 non-null  object
 21  website_of_source_of_collated_data  63993 non-null  object
 22  primary_reference_of_dataset        63825 non-null  object
 23  variable                            63999 non-null  object
 24  value                               63999 non-null  float64
dtypes: float64(8), object(17)
memory usage: 12.2+ MB

In [43]:
crop_nutr['un_region_name'].unique()

array([nan, 'Americas', 'Asia', 'Europe', 'Africa', 'Oceania'],
      dtype=object)

In [44]:
crop_nutr['un_sub_region_name'].unique()

array([nan, 'Northern America', 'Eastern Asia', 'Eastern Europe',
       'Northern Europe', 'Southern Asia', 'Sub-Saharan Africa',
       'Australia and New Zealand', 'Latin America and the Caribbean',
       'Southern Europe'], dtype=object)

In [45]:
australia_data = crop_nutr[crop_nutr['un_sub_region_name'] == 'Australia and New Zealand']
australia_data.head()

,original_crop,item,item_code,item_group_code,item_group,factor,hs_code,hs07_code,hs12_code,cpc_code,...,un_region_name,un_sub_region_name,un_intermediate_region_name,latitude,longitude,reference_where_data_were_collated,website_of_source_of_collated_data,primary_reference_of_dataset,variable,value
308,Barley,Barley,44.0,1714.0,Crops Primary,1.0,NaN,100300,"100310, 100390",115.0,...,Oceania,Australia and New Zealand,NaN,NaN,NaN,Unkovich et al (2010) A review of biological y...,https://www.sciencedirect.com/science/article/...,Receival standard,Water_pc,11.0
341,Barley,Barley,44.0,1714.0,Crops Primary,1.0,NaN,100300,"100310, 100390",115.0,...,Oceania,Australia and New Zealand,NaN,NaN,NaN,Unkovich et al (2010) A review of biological y...,https://www.sciencedirect.com/science/article/...,Unkovich et al (2006) Australian Crop Yields a...,Mean_Above_ground_biomass_kg_DM_ha,7777.0
426,Barley,Barley,44.0,1714.0,Crops Primary,1.0,NaN,100300,"100310, 100390",115.0,...,Oceania,Australia and New Zealand,NaN,NaN,NaN,Unkovich et al (2010) A review of biological y...,https://www.sciencedirect.com/science/article/...,Unkovich et al (2006) Australian Crop Yields a...,Maximum_Above_ground_biomass_kg_DM_ha,19300.0
454,Barley,Barley,44.0,1714.0,Crops Primary,1.0,NaN,100300,"100310, 100390",115.0,...,Oceania,Australia and New Zealand,NaN,NaN,NaN,Unkovich et al (2010) A review of biological y...,https://www.sciencedirect.com/science/article/...,Unkovich et al (2006) Australian Crop Yields a...,n_Above_ground_biomass_kg_DM_ha,96.0
603,Barley,Barley,44.0,1714.0,Crops Primary,1.0,NaN,100300,"100310, 100390",115.0,...,Oceania,Australia and New Zealand,NaN,NaN,NaN,Unkovich et al (2010) A review of biological y...,https://www.sciencedirect.com/science/article/...,Unkovich et al (2006) Australian Crop Yields a...,Maximum_Grain_yield_kg_DM_ha,8180.0

In [46]:
australia_data['item'].unique()

array(['Barley', 'Rapeseed', 'Chick peas', 'Vegetables, leguminous nes',
       'Cow peas, dry', 'Lentils', 'Lupins', 'Maize', 'Beans, dry',
       'Oats', 'Groundnuts, with shell', 'Rice, paddy', 'Sorghum',
       'Soybeans', 'Sunflower seed', 'Triticale', 'Vetches', 'Wheat'],
      dtype=object)

In [47]:
print(australia_data.columns)

Index(['original_crop', 'item', 'item_code', 'item_group_code', 'item_group',
       'factor', 'hs_code', 'hs07_code', 'hs12_code', 'cpc_code',
       'original_crop_component', 'crop_component', 'original_region',
       'iso3_code', 'country_iso3c', 'un_region_name', 'un_sub_region_name',
       'un_intermediate_region_name', 'latitude', 'longitude',
       'reference_where_data_were_collated',
       'website_of_source_of_collated_data', 'primary_reference_of_dataset',
       'variable', 'value'],
      dtype='object')

In [48]:
australia_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 543 entries, 308 to 63414
Data columns (total 25 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   original_crop                       543 non-null    object
 1   item                                543 non-null    object
 2   item_code                           543 non-null    float64
 3   item_group_code                     543 non-null    float64
 4   item_group                          543 non-null    object
 5   factor                              543 non-null    float64
 6   hs_code                             0 non-null      float64
 7   hs07_code                           543 non-null    object
 8   hs12_code                           543 non-null    object
 9   cpc_code                            543 non-null    float64
 10  original_crop_component             543 non-null    object
 11  crop_component                      543 non-null    object
 12  original_region                     543 non-null    object
 13  iso3_code                           543 non-null    object
 14  country_iso3c                       543 non-null    object
 15  un_region_name                      543 non-null    object
 16  un_sub_region_name                  543 non-null    object
 17  un_intermediate_region_name         0 non-null      object
 18  latitude                            0 non-null      float64
 19  longitude                           0 non-null      float64
 20  reference_where_data_were_collated  543 non-null    object
 21  website_of_source_of_collated_data  543 non-null    object
 22  primary_reference_of_dataset        543 non-null    object
 23  variable                            543 non-null    object
 24  value                               543 non-null    float64
dtypes: float64(8), object(17)
memory usage: 110.3+ KB